<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <title>Game Engine</title>
</head>
<body>
    <div class="game-window"> 
        <h1>
            Hello World!
        </h1> 
    </div> 
    <div style="background-color: black;" class="game-window container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-3">2D Game Engine</h1>
          <p class="lead">2D platformer game engine for the browser. Eventual goal to load in "game" and "level" files for running a game using an HTML canvas element.</p>
        </div>
      </div>
      </div>      
</body>
<script src="server.js"></script>
</html>