/* Game Window */ 
.game-window { 
    background-color: black;
    color: white;
} 

.jumbotron { 
    color: black;
}

.game-canvas {
    border: red 1px solid;
    width: 1000px;
    height: 600px;
}